.Calenderhero {
    background-image: url('../images/hero-calendario.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    height: 200px;
    margin-bottom: 50px;

    &__h1 {
        text-align: center;
        display: flex;
        justify-content: center;
        color: white;
        font-size: 50px;

    }

}

.InfoSec{
    margin-inline: 30px;

    &__ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
   ;
    }

    &__li{
        display: flex;
        flex-direction: row;
                gap: 15px         ;
                margin-block:14px;
    }
    &__btn1, &__btn2, &__btn3, &__btn4{
        width: 20px;
        height: 20px;
        border-radius: 100%;
    }

    &__btn1{
        background-color: #707070;
        border: #707070;
    }
    &__btn2{
        background-color:#B0F523;
        border: #B0F523;
    }
    &__btn3{
        background-color: #F57EA7;
        border: #F57EA7;
    }
    &__btn4{
        background-color: #FAFA1B;
        border: #FAFA1B;
    }


}

.horario{
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__h2 {
        color: #2F2F2F;
        font-size: 14;
        margin-top: 20px;
        margin-bottom: 14px;
        color: #2F2F2F;
        margin-bottom: 40px;
    }

    &__hora{
        display: flex;
        flex-direction: column;
        gap: 20px;
       
        align-items: center;
        margin-bottom: 50px;

       
    }

    &__horas{
        text-align: center;
        padding-block: 10px;
        font-size: 16px;
color: #707070;    
border: white;
box-shadow: 0px 4px 10px rgba(97, 97, 97, 0.5
);}
}

.btn{

    background-color: #ADB2E9;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 18px;
    width: 300px;
    padding-block: 15px;
    border-radius: 15px;
    text-align: center;
}