
.footerNav {
position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-block: 30px;
  padding-inline: 50px;
  background-color: black;
  color: white;
  list-style: none;
}

/* Estilos para enlaces dentro del footer */
.footerNav .enlaces-temporales {
  color: #e9ecfb;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .footerNav {
      flex-direction: column;
      justify-content: center;
      align-items: center; /* Centra los elementos horizontalmente */
      padding-inline: 20px;
  }

  .footerNav .enlaces-temporales {
      font-size: 12px;
      text-align: center;
      margin-bottom: 10px;
      text-decoration: none;
  }
}
