.addForm {
    .addForm--title{
        text-align: center;
        margin-top: 50px
    }
    &__group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        gap: 15px;
        margin-top: 40px;

    }
    @media screen and (min-width: 1024px) {
        flex-direction: row;
    } 

    &__input{
    width: 250px;
    padding-block: 10px;
    text-align: center;
    padding-inline: 20px;
    font-size: 18;
    font-weight: 600;
    border: solid 0.5px black;
  
    }

    &__btn-group{
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 30px;
        
    }
    .button--large{
        width: 250px;
        padding-block: 10px;
        text-align: center;
        padding-inline: 20px;
        font-size: 18;
        font-weight: 600;
        border: solid 0.5px rgb(122, 122, 122);
  
    }
}

 
.tabla-alumnas {
    width: 100%;
    border-collapse: collapse;
  
    &__input {
      border: none;
      background: transparent;
      width: 100%;
      text-align: left;
    }
  
    &__icons {
      display: flex;
      gap: 10px;
      justify-content: center;
    }
  
    @media (max-width: 768px) {
      thead {
        display: none;
      }
      
      tr {
        display: block;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
      }
      
      td {
        display: block;
        text-align: right;
        padding: 10px;
        padding-inline: 100px;
        position: relative;
      }
      
      td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        text-align: left;
      }
      
      .listado__icons {
        justify-content: flex-end;
      }
    }
  }