.addForm {
    .addForm--title{
        text-align: center;
        margin-top: 50px
    }
    &__group{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        gap: 15px;
        margin-top: 40px;

    }
    @media screen and (min-width: 1024px) {
        flex-direction: row;
    } 

    &__input{
        width:230px;
        padding-block: 10px;
        text-align: center;
        padding: 0.5rem 1rem;
        border: 1px solid #e2e8f0;
        border-radius: 0.375rem;
        width: 250px;
        font-size: 0.875rem;
        &:focus {
          outline: none;
          border-color: #4f46e5;
          box-shadow: 0 0 0 1px #4f46e5;
        }
  
    }
    &__label { 
        font-size: 14px;
        color:#ADB2E9;
        font-weight: 400;


    }


    &__btn-group{
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-block: 30px;
        
    }
    .button--large{
      
      padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #e9ecfb;
    color: #4f46e5;

    &:hover {
      background-color: #dce1f9;
    }
  }


  &__add-btn {
    background-color: #e9ecfb;
    color: #4f46e5;
        &:focus {
          outline: none;
          border-color: #4f46e5;
          box-shadow: 0 0 0 1px #4f46e5;
        }
  
    }
}

 
.tabla-alumnas {
    width: 100%;
    border-collapse: collapse;
    gap: 0.5rem;
    padding: 1rem;
    
  
    border-radius: 0.5rem;
  
    &__input {
      border: none;
      background: transparent;
      width: 100%;
      text-align: left;
    }
  
    &__icons {
      display: flex;
      gap: 10px;
      justify-content: center;
    }
  
    @media (max-width: 768px) {
      thead {
        display: none;
        
        
        
      }
      
      tr {
        display: block;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        
    
        
      }
      
      td {
        display: block;
        text-align: right;
        padding: 10px;
        padding-inline: 100px;
        position: relative;
        
        
      }
      
      td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        text-align: left;
      }
      
      .listado__icons {
        justify-content: flex-end;
      }
    }
  }