.title {
    &__h1{
        text-align: center;
    }
        margin: 30px;
        color: #2F2F2F;
        margin-top: 100px;

    
        &__sectionbtn{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
            margin-block:50px;        
            @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
        }
         
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
}

.addInput, .btn-admin, .search-input {
width:230px;
    padding-block: 10px;
    text-align: center;
    padding-inline: 15px;
    font-size: 16;
    font-weight: 600;
    border:transparent;
    border-radius: 15px;
    @media screen and (min-width: 768px) {
            
        }
}

.addInput{
    color: white;
    background-color: #ADB2E9;
}

.btn-admin {
    color: white;
    background-color: #FC9A7C;
}
.search-input{
    border: solid 1px #FC9A7C;
}

.listado{
    padding-inline: 30px;

    &__iconEdit, &__iconDelet {


    }


    &__ul{

        text-decoration: none;
        list-style: none;
          border-bottom: 1px solid #ccc;
    }
    &__li{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-block: 24px;
        @media screen and (min-width: 768px) {
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-block: 24px;
            }
    }

    &__label{
        font-weight: 800;
    }

    &__input{

    border: none;
  
    }

 
}

.tabla-alumnas {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  .tabla-alumnas th, .tabla-alumnas td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .tabla-alumnas th {
    background-color: #f4f4f4;
  }
  
  .tabla-alumnas td {
    word-wrap: break-word;
  }
  
  
  .listado__icons {
    display: flex;
    gap: 10px;
  }
  

  @media (max-width: 768px) {
    .tabla-alumnas th,
    .tabla-alumnas td {
      display: block;
      width: 100%;
      text-align: right;
      padding: 10px 0;
    }
  
    .tabla-alumnas th {
      background-color: #f4f4f4;
    }
  
    .tabla-alumnas td {
      text-align: left;
      padding-left: 20px;
      border: none;
      border-bottom: 1px solid #ddd;
      position: relative;
    }
  
    .tabla-alumnas td:before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      top: 10px;
      font-weight: bold;
    }
  
    .tabla-alumnas td input {
      width: 100%;
      box-sizing: border-box;
    }
  }