.title {
    &__h1{
        text-align: center;
    }
        margin: 30px;
        color: #2F2F2F;
        margin-top: 100px;

    
        &__sectionbtn{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
            margin-block:50px;        
            @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
        }
         
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
}

.addInput, .btn-admin, .search-input {
width: 300px;
    padding-block: 15px;
    text-align: center;
    padding-inline: 20px;
    font-size: 18;
    font-weight: 600;
    border:transparent;
    border-radius: 15px;
    @media screen and (min-width: 768px) {
            
        }
}

.addInput{
    color: white;
    background-color: #ADB2E9;
}

.btn-admin {
    color: white;
    background-color: #FC9A7C;
}
.search-input{
    border: solid 1px #FC9A7C;
}

.listado{
    padding-inline: 50px;

    &__iconEdit, &__iconDelet {


    }


    &__ul{

        align-items:center;
        text-decoration: none;
        list-style: none;
        gap: 30px;
          border-bottom: 1px solid #ccc;
    }
    &__li{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    
        margin-block: 24px;
        @media screen and (min-width: 768px) {
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-block: 24px;
            }
    }

    &__label{
        font-weight: 800;
    }

    &__input{

    border: none;
  
    }

 
}

