.title {
        margin: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #2F2F2F;
        margin-top: 100px;

    
        &__sectionbtn{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;
            margin-block:50px;
         
        }
}
.addInput, .btn-admin {
    padding-block: 15px;
    text-align: center;
    padding-inline: 20px;
    font-size: 18;
    font-weight: 600
    ;
    border:transparent;
    border-radius: 15px;
    
}

.addInput{
    color: white;
    background-color: #ADB2E9;
}

.btn-admin {
    color: white;
    background-color: #FC9A7C;
}

.listado{
    padding-inline: 50px;

    &__ul{
        display: flex;
        text-decoration: none;
        list-style: none;
        gap: 30px;
          border-bottom: 1px solid #ccc;
    }
    &__li{
        gap: 30px;
   
   
    
        margin-block: 24px;
    }
    &__label{
        font-weight: 800;
    }

    &__input{

    border: none;
  
    }

 
}

