.grupos{
    font-family: 'Raleway', sans-serif;
    padding: 2rem;

    &__acciones{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    &__input{
        padding: 0.5rem 1rem;
        border: 1px solid #e2e8f0;
        border-radius: 0.375rem;
        width: 250px;
        font-size: 0.875rem;

        &:focus {
          outline: none;
          border-color: #a5b4fc;
          box-shadow: 0 0 0 1px #a5b4fc;
        }
    }
    &__add-btn{
        padding: 0.5rem 1rem;
        background-color: #e9ecfb;
          color: #4f46e5;
          border: none;

          &:hover {
            background-color: #dce1f9;
          }
    }

    &__manage-btn{
        padding: 0.5rem 1rem;
        background-color: #F4A68D;
          color: white;
          border: none;

          &:hover {
            background-color: darken(#F4A68D, 5%);
          }
    }
}