.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-block: 30px;
    padding-inline: 50px;

    &__nav-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        list-style: none;
        text-align: end;
    }

    &__nav-link{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content:right;
        gap: 10px;
        padding-block: 0px;
    }


    &__nav-logo {
        width: 60px;
        height: 60px;

    }
}