.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-block: 30px;
    padding-inline: 50px;

    background-color: rgba(250, 128, 114, 0.12);
    &__nav-menu {
        list-style: none;
        text-align: end;
        align-items: end;
    
 
    }

    &__nav-link {
        text-decoration: none;
    
        color: black;
        font-size: 18px;
    }

    &__nav-logo{
    
    
        width: 100px;
       
    
    
    }
}


