@use 'core/reset';
@use 'core/variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

body {
  background-image: url(../images/cabecera-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1024px) {
  body {
    background-image: url(../images/cabecera-desktop.jpg);
  }
}

.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

  &__h1{
    font-size: 40px;
    margin-bottom: 20px;
  }

  &__parrafo {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

.login-section {
  background-color: rgba(255, 255, 255, 0.77);
  border-radius: 10px;
  padding: 35px;
  margin-block: 40px;
  margin-inline: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 14px;
  &__parrafo{
    font-size: 20px;
    color: #707070;
    margin-bottom: 20px;
  }

  &__user-data{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc; /* Borda sutil */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.066); /* Sombra negra padrão */
    padding: 5px;
    font-size: 14px;
    color: #707070;
    outline: none;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }

  &__login-btn{
    margin-top: 20px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: #ADB2E9;
    color: white;
  
    border: 1px solid #ccc; /* Borda sutil */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.066); /* Sombra negra padrão */
    padding: 5px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-size: 19px;
    font-weight: 600;
  }
}

