@use 'core/reset';
@use 'core/variables';
@use 'layout/header';
@use 'layout/login';
@use 'layout/alumnas';
@use 'layout/calendario';
@use 'layout/footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{

}
